
*{
    margin: 0%;
    padding: 0%;
}
.full-website{
    width: 800px;
    margin: auto;
}
img{
    max-width: 100%;
}
.menu{
    padding: 10px 0;
    background-color: #004d99	;
    color: #ffffff ;

}
.container{
    background-color: #004d99	;
    color: #ffffff ;
    margin: -10px 0;
    padding: 20px 0;
}
.footer{
    background-color: #2362a1	;
    color: #ffffff ;
    padding: 10px 0;
    margin-top: -16.5px;
}
.footer-bottom{
    background-color: #2f2f30	;
    color: #ffffff ;
}